.splash-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  // background-image: url('DSC00007.webp');
  background-size: cover;
}

@import "~bootstrap/scss/bootstrap";
